cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
dnspython==1.16.0
futures==3.2.0
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-dns==0.30.1
googleapis-common-protos==1.6.0
idna==2.8
incf.countryutils==1.0
ipaddress==1.0.22
natsort==6.0.0
octodns==0.9.5
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.6.1
pytz==2019.1
PyYAML==5.1.1
requests==2.22.0
rsa==4.0
six==1.12.0
urllib3==1.25.3
