apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ec2nodeclass.yaml
  - daemonsets.yaml
  - npd.yaml
  - npd-config.yaml

helmCharts:
  - name: karpenter-crd
    repo: oci://public.ecr.aws/karpenter
    releaseName: karpenter-crds
    version: 1.0.2
    namespace: kube-system
  - name: karpenter
    repo: oci://public.ecr.aws/karpenter
    releaseName: karpenter
    valuesFile: karpenter.yaml
    version: 1.0.2
    namespace: kube-system
