# config.yaml
prowjob_namespace: prow
pod_namespace: k8s-infra-test-pods
log_level: debug

plank:
  job_url_template: 'https://k8s-infra-prow.k8s.io/view/gs/k8s-infra-prow-results/{{if eq .Spec.Type "presubmit"}}pr-logs/pull{{else if eq .Spec.Type "batch"}}pr-logs/pull{{else}}logs{{end}}{{if .Spec.Refs}}{{if ne .Spec.Refs.Org ""}}/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}{{end}}{{end}}{{if eq .Spec.Type "presubmit"}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/batch{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/'
  report_templates:
    '*': '[Full PR test history](https://k8s-infra-prow.k8s.io/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}). [Your PR dashboard](https://k8s-infra-prow.k8s.io/pr?query=is%3Apr%20state%3Aopen%20author%3A{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).'
  job_url_prefix_config:
    '*': https://k8s-infra-prow.k8s.io/view/gs/
  pod_pending_timeout: 15m
  pod_unscheduled_timeout: 5m
  default_decoration_configs:
    '*':
      timeout: 2h
      grace_period: 15s
      utility_images:
        clonerefs: "gcr.io/k8s-prow/clonerefs:v20210810-599c9646af"
        initupload: "gcr.io/k8s-prow/initupload:v20210810-599c9646af"
        entrypoint: "gcr.io/k8s-prow/entrypoint:v20210810-599c9646af"
        sidecar: "gcr.io/k8s-prow/sidecar:v20210810-599c9646af"
      gcs_configuration:
        bucket: k8s-infra-prow-results
        path_strategy: explicit
      gcs_credentials_secret: "k8s-infra-prow-sa-key"
      resources:
        clonerefs:
          requests:
            cpu: 100m
        initupload:
          requests:
            cpu: 100m
        place_entrypoint:
          requests:
            cpu: 100m
        sidecar:
          requests:
            cpu: 100m

sinker:
  resync_period: 1m
  max_prowjob_age: 48h
  max_pod_age: 48h
  terminated_pod_ttl: 30m

github_reporter:
  job_types_to_report:
  - presubmit
  - postsubmit

tide:
  sync_period: 1m
  queries:
  - repos:
    - kubernetes/k8s.io
    labels:
    - lgtm
    - approved
    - a-label-that-does-not-exist
    missingLabels:
    - do-not-merge/hold
    - do-not-merge/work-in-progress
  pr_status_base_urls:
    '*': https://k8s-infra-prow.k8s.io/pr

deck:
  branding:
    logo: 'https://raw.githubusercontent.com/cncf/artwork/master/projects/kubernetes/icon/color/kubernetes-icon-color.svg'
    favicon: 'https://kubernetes.io/images/favicon.png'
  spyglass:
    size_limit: 100000000 # 100MB
    gcs_browser_prefix: https://gcsweb.k8s.io/gcs/
    testgrid_config: gs://k8s-testgrid/config
    testgrid_root: https://testgrid.k8s.io/
    lenses:
    - lens:
        name: metadata
      required_files:
      - started.json|finished.json
      optional_files:
      - podinfo.json
    - lens:
        name: buildlog
      required_files:
        - build-log.txt
    - lens:
        name: junit
      required_files:
        - artifacts/junit.*\.xml
    - lens:
        name: coverage
      required_files:
        - artifacts/filtered.cov
      optional_files:
        - artifacts/filtered.html
    - lens:
        name: podinfo
      required_files:
        - podinfo.json
  tide_update_period: 1s
  rerun_auth_configs:
    kubernetes/k8s.io:
      github_users:
      - wg-k8s-infra-leads

presets:
# enable GOPROXY by default
- env:
  - name: GOPROXY
    value: "https://proxy.golang.org"
- labels:
    preset-dind-enabled: "true"
  env:
  - name: DOCKER_IN_DOCKER_ENABLED
    value: "true"
