apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gcsweb
  namespace: gcsweb
  labels:
    app: gcsweb
  annotations:
    kubernetes.io/ingress.global-static-ip-name: gcsweb-k8s-io
    kubernetes.io/ingress.class: gce
    networking.gke.io/managed-certificates: gcsweb
spec:
  defaultBackend:
    service:
      name: gcsweb
      port:
        name: http
