apiVersion: apps/v1
kind: Deployment
metadata:
  name: ghproxy
  labels:
    app: ghproxy
spec:
  selector:
    matchLabels:
      app: ghproxy
  replicas: 1 # TODO(fejta): this should be HA
  template:
    metadata:
      labels:
        app: ghproxy
    spec:
      containers:
        - name: ghproxy
          image: us-docker.pkg.dev/k8s-infra-prow/images/ghproxy:v20260112-782d8a7cf
          args:
            - --cache-dir=/cache
            - --cache-sizeGB=99
            # TODO: uncomment once the monitoring.prow.k8s.io and pushgateway are migrated
            #- --push-gateway=pushgateway
            - --serve-metrics=true
          ports:
            - containerPort: 8888
          volumeMounts:
            - name: cache
              mountPath: /cache
      volumes:
        - name: cache
          persistentVolumeClaim:
            claimName: ghproxy
---
apiVersion: v1
kind: Service
metadata:
  name: ghproxy
  labels:
    app: ghproxy
spec:
  ports:
    - name: main
      port: 80
      protocol: TCP
      targetPort: 8888
  selector:
    app: ghproxy
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: ghproxy
  name: ghproxy
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: hyperdisk-balanced
