crds:
  enabled: true
extraObjects:
  - |
    apiVersion: cert-manager.io/v1
    kind: ClusterIssuer
    metadata:
      name: letsencrypt-prod
    spec:
      acme:
        server: https://acme-v02.api.letsencrypt.org/directory
        email: sig-k8s-infra-leads+certificates@kubernetes.io
        privateKeySecretRef:
          name: letsencrypt-prod
        solvers:
          - dns01:
              cloudDNS:
                project: kubernetes-public
